html,body{
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  font-family: 'Numans', sans-serif;
}

.container{
  height: 100%;
  align-content: center;
}

.card{
  height: 140px;
  margin-top: auto;
  margin-bottom: auto;
  width: 410px;
  background-color: rgba(0,0,0,0.5) !important;
  align-items: center;
}

.card-header h3{
  color: white;
}

.confirm_btn{
  color: black;
  background-color: #FFC312;
  width: 250px;
}

.confirm_btn:hover{
  color: black;
  background-color: white;
}

.links{
  color: white;
}

.links a{
  margin-left: 4px;
}
