<div class="container" xmlns:display="http://www.w3.org/1999/xhtml">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header">
        <h2>Wystąpił błąd!</h2>
        <div class="d-flex justify-content-end social_icon">

        </div>
      </div>
      <h4 class="text-center"> &nbsp;</h4>
      <h3 class="text-center"> Podanego adresu nie ma w bazie danych.</h3>

      <div class="card-body">

        <h6 class="text-center"> &nbsp;</h6>
        <div style="text-align:center;">
          <a routerLink="/login">
            <button type="submit" class="btn btn-light login_bt">Strona główna</button>
          </a>
          <h6 class="text-center"> &nbsp;</h6>
          <button type="submit"  routerLinkActive="active" class="btn login_btn">Przypominanie hasła</button>
      </div>

    </div>
  </div>
</div>
