<div class="container" xmlns:display="http://www.w3.org/1999/xhtml">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header">
        <h3>Przypominanie hasła</h3>
        <div class="d-flex justify-content-end social_icon">

        </div>
      </div>
      <h6 class="text-center"> &nbsp;</h6>
      <h6 class="text-center"> Podaj adres e-mail powiązany z Twoim kontem.</h6>
      <h6 class="text-center"> Prześlemy na niego dalsze instrukcje.</h6>
      <h6 class="text-center"> &nbsp;</h6>
      <div class="card-body">
        <form [formGroup]="paswordresetForm">
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-envelope-square"></i></span>
            </div>
            <input formControlName="email" [(ngModel)]="email" name="email" type="text" class="form-control"
                   placeholder="email">

          </div>

          <div class="row align-items-center remember">

          </div>

          <h6 class="text-center"> &nbsp;</h6>
          <div class="d-inline bg-success">


            <a routerLink="/login">
              <button type="submit" class="btn btn-light">Strona główna</button>
            </a>


            <input type="submit" (click)="PasswordReset()" routerLinkActive="active" value="Resetuj hasło"
                   class="btn float-right login_btn">

          </div>
        </form>
      </div>

    </div>
  </div>
</div>
